html{
 height: 100%;
 font-size: 1rem;
 background-color: #608080;
 font-family: futura-pt,futura-heavy,"Helvetica Neue",
 Helvetica,Arial,sans-serif;
}

body{
 overflow:hidden;
 margin: 0;
 color: black;
 height: 100%;
 width: 100%;
}

*,
*:after,
*:before {
 box-sizing:border-box;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-font-smoothing:antialiased;
 font-smoothing:antialiased;
 text-rendering:optimizeLegibility;
}


h1{
 font-size: 4em;
 color: #f4ea84;
}

h2{
 font-size: 2.5em;
}

h3{
 font-size: 2em;
 margin: 0;
 color: #404040;
}

p{
 font-size: 1em;
 margin: 0;
}

a{
 text-decoration: none;
 color: #E0C0C0;
}

#page1{
  height: 1000px;
}

#page2{
  height: 1000px;
  position: relative;
}

#danger_section{
  height: 1000px;

}

#radius_section{
  height: 1000px;
}

#go_section{
  height: 1000px;
}

#result_section{
  height: 1000px;
}


#center{
 text-align: center;
 margin-top: 1em;
}


.action_button{
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 200px;
    height: 200px;
}

.vertical{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

