html{
 height: 100%;
 font-size: 1rem;
 background-color: DADAE0;
 font-family: futura-pt,futura-heavy,"Helvetica Neue",
 Helvetica,Arial,sans-serif;
}

body{
 overflow:hidden;
 margin: 0;
 color: black;
 height: 100%;
 width: 100%;
background: url("brickwall.jpg");
}

*,
*:after,
*:before {
 box-sizing:border-box;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-font-smoothing:antialiased;
 font-smoothing:antialiased;
 text-rendering:optimizeLegibility;
}

#map-canvas {
  height: 30%;
  margin: 0px;
  padding: 0px
}


h1{
 font-size: 4em;
 color: #000000;
}

h2{
 font-size: 2.5em;
}

h3{
 font-size: 2em;
 margin: 0;
 color: #000000;
}

p{
 font-size: 1em;
 margin: 0;
}

a{
 text-decoration: none;
 color: #000000;
}

#page1{
  height: 1000px;

}

#page2{
  height: 1000px;
  position: relative;
}

#danger_section{
  height: 1000px;

}

#radius_section{
  height: 1000px;
}

#go_section{
  height: 1000px;
}

#result_section{
  height: 1000px;
}

#center{
 text-align: center;
 margin-top: 1em;
}


.action_button{
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 200px;
    height: 200px;
}

.action_button:hover{
  color: red;
}

.go {
-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    width: 600px;
    height: 600px;
}

.go:hover {
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg);
}


.vertical{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.another_dive_button{
    padding: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 400px;
}
