html{
 height: 100%;
 font-size: 1rem;
 background-color: #608080;
 font-family: futura-pt,futura-heavy,"Helvetica Neue",
 Helvetica,Arial,sans-serif;
}

body{
 margin: 0;
 color: black;
 height: 100%;
 width: 100%;
}

*,
*:after,
*:before {
 box-sizing:border-box;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-font-smoothing:antialiased;
 font-smoothing:antialiased;
 text-rendering:optimizeLegibility;
}

h1{
 font-size: 4em;
 color: #f4ea84;
}

h2{
 font-size: 2.5em;
}

h3{
 font-size: 2em;
 margin: 0;
 color: #404040;
}

p{
 font-size: 1em;
 margin: 0;
}

a{
 text-decoration: none;
 color: #E0C0C0;
}

#page1{
  height: 1000px;
}

#page1 img{
  height: 100%;
  width: 100% ;
}

#page2{
  height: 1000px;
}

#page3{
  height: 1000px;
}

#page4{
  height: 1000px;
}

#page5{
  height: 1000px;
}

#page6{
  height: 1000px;
}

#myimage{
  
}

#center{
 text-align: center;
 margin-top: 1em;
}

.myButton {
 background-color:#44c767;
 -moz-border-radius:28px;
 -webkit-border-radius:28px;
 border-radius:28px;
 border:1px solid #18ab29;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:arial;
 font-size:17px;
 padding:16px 31px;
 text-decoration:none;
 text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
 background-color:#5cbf2a;
}
.myButton:active {
 position:relative;
 top:1px;
}

.action_button{
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 200px;
    height: 200px;
}