<div id="center">

  <h1>Dive Roulette</h1>

  <h3> What do you want to eat? </h3>

  <div>
    <button type="button">Breakfast</button>
    <button type="button">Lunch</button>
    <button type="button">Dinner</button>
    <button type="button">Bar</button>
   </div>

   <h3> How adventurous are you? </h3>

  <div>
    <button class="myButton" type="button">not really</button>
    <button type="button">kinda</button>
    <button type="button">very</button>
   </div>

   <h3> How far will you go? </h3>

   <div>
    <button type="button">1km</button>
    <button type="button">3km</button>
    <button type="button">5km</button>
   </div>

    <div>
    <button type="button">go!</button>
   </div>

    <h3> RESTAURANT NAME </h3>
    <h3> ADDRESS </h3>

    <div>
    <button type="button">Another dive?</button>
   </div>

</div>
