<div id="center">
  
  <section id="page1" >
    <img src="img/diveroulette_splash-centered.png" />
  </section> 

  <section id="page2">
    <div class="vertical">
       <h3> What do you want to eat? </h3>
       <!-- <button class="food_type action_button" value="breakfast" d-food-type="breakfast,brunch"></button> -->
       <img class="food_type action_button" d-food-type="breakfast,brunch" src="img/breakfast.svg"/>
       <img class="food_type action_button" d-food-type="lunch" src="img/lunch.svg"/>
       <img class="food_type action_button" d-food-type="dinner" src="img/dinner.svg"/>
       <img class="food_type action_button" d-food-type="bar" src="img/drinks.svg"/>
     </div>
  </section>

  <section id="danger_section">
    <div class="vertical">
    <h3> How adventurous are you? </h3>
      <img class="danger_type action_button" d-danger-type="safe" src="img/dangermeh.svg"/>
      <img class="danger_type action_button" d-danger-type="middle" src="img/dangermedium.svg"/>
      <img class="danger_type action_button" d-danger-type="dangerous" src="img/dangerhigh.svg"/>
     </div>
  </section>

  <section id="radius_section">
     <div class="vertical">
      <h3> How far will you go? </h3>
      <img class="distance action_button" d-distance-type="1000" src="img/1km.svg"/>
      <img class="distance action_button" d-distance-type="2000" src="img/2km.svg"/>
      <img class="distance action_button" d-distance-type="5000" src="img/5km.svg"/>
      <img class="distance action_button" d-distance-type="10000" src="img/10km.svg"/>
     </div>
  </section>

  <section id="go_section">
    <div class="vertical">
    <img class="go" id="go" d-go-type="button" src="img/bigbutton.svg"/>
    </div>
  </section>

  <section id="result_section">

   <div id="map-canvas"> </div>
   <div><img class="another_dive another_dive_button" id="another_dive" d-another-dive-type="button" src="img/anotherdive.svg"/>
   </div>

  </section>

<!-- test for map -->


</div>

