<div id="center">
  
  <section id="page1" >
    <img src="img/diveroulette_splash.png" />
  </section> 

  <section id="page2">
    <h3> What do you want to eat? </h3>
    <div>
       <img class="food_type food_button" d-food-type="breakfast,brunch" src="img/fastfood3.svg"/>
       <img class="food_type food_button" d-food-type="lunch" src="img/fastfood3.svg"/>
       <img class="food_type food_button" d-food-type="dinner" src="img/fastfood3.svg"/>
       <img class="food_type food_button" d-food-type="bar" src="img/fastfood3.svg"/>
     </div>
  </section>

  <section id="page3">
     <h3> How adventurous are you? </h3>
    <div>
      <img class="danger_type danger_button" d-danger-type="breakfast" src="img/fastfood3.svg"/>
      <img class="danger_type danger_button" d-danger-type="breakfast" src="img/fastfood3.svg"/>
      <img class="danger_type danger_button" d-danger-type="breakfast" src="img/fastfood3.svg"/>
     </div>
  </section>

  <section id="page4">
     <h3> How far will you go? </h3>
      <div>
      <button type="button">1km</button>
      <button type="button">3km</button>
      <button type="button">5km</button>
     </div>
  </section>

  <section id="page5">
    <div>
    <button type="button">go!</button>
    </div>
  </section>

  <section id="page6">
    <h3> RESTAURANT NAME </h3>
    <h3> ADDRESS </h3>
      <div>
        <button id="submitttt" type="button">Another dive?</button>
      </div>
  </section>


  <form action="/dives" method="post">
    <input  type="hidden" name="food_type" id="food_type" value="" />
    <input  type="hidden" name="food_type" id="food_type" value="" />
    <input  type="hidden" name="food_type" id="food_type" value="" />

  </form>
  
</div>
